<!-- Footer -->
<div class="footer_part">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer_iner text-center">
                    <p>2025 © TTO - Designed by <a href="#"> Yusuf Isa Uzkul & Uğur Duymuş </a></p>
                </div>
            </div>
        </div>
    </div>
</div>