<!-- sidebar  -->
<nav class="sidebar dark_sidebar">
  <div class="logo d-flex justify-content-center" style="align-items: center; text-align: center; padding: 10px; background-color:white">
    <a class="large_logo" href="index.html">
      <img src="/wwwroot/img/tto-logo.png" style="width: 100px;" alt="">
    </a>
  </div>

  <ul id="sidebar_menu">
    <li class="">
      <a href="#" aria-expanded="false">
        <div class="nav_icon_small">
          <img src="/wwwroot/img/menu-icon/1.svg" alt="">
        </div>
        <div class="nav_title">
          <span>Dashboard </span>
        </div>
      </a>
    </li>

    <li class="">
      <a class="has-arrow" href="#" aria-expanded="false">
        <div class="nav_icon_small">
          <img src="/wwwroot/img/menu-icon/6.svg" alt="">
        </div>
        <div class="nav_title">
          <span>Transactions</span>
        </div>
      </a>
      <ul>
        <li><a href="Request.html">Request</a></li>
        <li><a href="tan_cancel.html">Cancel</a></li>
        <li><a href="Refound.html">Refound</a></li>
        <li><a href="Payment_details.html">Payment details</a></li>
      </ul>
    </li>


    <li class="">
      <a class="has-arrow" href="#" aria-expanded="false">
        <div class="nav_icon_small">
          <img src="/wwwroot/img/menu-icon/Pages.svg" alt="">
        </div>
        <div class="nav_title">
          <span>Pages</span>
        </div>
      </a>
      <ul>
        <li><a href="role_permissions.html">Role & Permissions</a></li>
        <li><a href="/alerts">Alarmlar</a></li>
      </ul>
    </li>

    <li class="">
      <a class="has-arrow" href="#" aria-expanded="false">
        <div class="nav_icon_small">
          <img src="/wwwroot/img/menu-icon/Mail_Box.svg" alt="">
        </div>
        <div class="nav_title">
          <span>Mail Box </span>
        </div>
      </a>
      <ul>
        <li><a href="mail_box.html">Mail Box</a></li>
        <li><a href="compose.html">Compose</a></li>
        <li><a href="important_mail.html">Important Mail</a></li>
        <li><a href="mail_trash.html">Mail Trash</a></li>
        <li><a href="chat.html">Chat</a></li>
      </ul>
    </li>
  </ul>
</nav>
<!--/ sidebar  -->