<!DOCTYPE html>
<html dir="ltr" lang="tr">

<head>

  <script> var settings = {{{ JSONsettings }}} </script>

  <script> var renderdata = {{{ JSONdata }}} </script>

  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>BitCrypto</title>

  <link rel="icon" href="img/mini_logo.png" type="image/png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/wwwroot/css/bootstrap1.min.css" />
  <!-- themefy CSS -->
  <link rel="stylesheet" href="/wwwroot/vendors/themefy_icon/themify-icons.css" />
  <!-- select2 CSS -->
  <link rel="stylesheet" href="/wwwroot/vendors/niceselect/css/nice-select.css" />
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/wwwroot/vendors/owl_carousel/css/owl.carousel.css" />
  <!-- gijgo css -->
  <link rel="stylesheet" href="/wwwroot/vendors/gijgo/gijgo.min.css" />
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/wwwroot/vendors/font_awesome/css/all.min.css" />
  <link rel="stylesheet" href="/wwwroot/vendors/tagsinput/tagsinput.css" />

  <!-- date picker -->
  <link rel="stylesheet" href="/wwwroot/vendors/datepicker/date-picker.css" />
  <!-- scrollabe  -->
  <link rel="stylesheet" href="/wwwroot/vendors/scroll/scrollable.css" />
  <!-- datatable CSS -->
  <link rel="stylesheet" href="/wwwroot/vendors/datatable/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="/wwwroot/vendors/datatable/css/responsive.dataTables.min.css" />
  <link rel="stylesheet" href="/wwwroot/vendors/datatable/css/buttons.dataTables.min.css" />
  <!-- text editor css -->
  <link rel="stylesheet" href="/wwwroot/vendors/text_editor/summernote-bs4.css" />
  <!-- morris css -->
  <link rel="stylesheet" href="/wwwroot/vendors/morris/morris.css">
  <!-- metarial icon css -->
  <link rel="stylesheet" href="/wwwroot/vendors/material_icon/material-icons.css" />

  <!-- CALENDER CSS -->
  <link rel="stylesheet" href="/wwwroot/vendors/calender_js/core/main.css">
  <link rel="stylesheet" href="/wwwroot/vendors/calender_js/daygrid/main.css">
  <link rel="stylesheet" href="/wwwroot/vendors/calender_js/timegrid/main.css">
  <link rel="stylesheet" href="/wwwroot/vendors/calender_js/list/main.css">

  <!-- menu css  -->
  <link rel="stylesheet" href="/wwwroot/css/metisMenu.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/wwwroot/css/style1.css" />
  <link rel="stylesheet" href="/wwwroot/css/colors/default.css" id="colorSkinCSS">
  <!-- Document Title -->
  <title>{{data.title}}</title>
</head>

<body>
  {{>sidebar}}

  <section class="main_content dashboard_part large_header_bg">
    {{>header}}
    {{{body}}}
    {{>footer}}
 </section>


  <!-- footer  -->
  <script src="/wwwroot/js/jquery1-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="/wwwroot/js/popper1.min.js"></script>
  <!-- bootstarp js -->
  <script src="/wwwroot/js/bootstrap1.min.js"></script>
  <!-- sidebar menu  -->
  <script src="/wwwroot/js/metisMenu.js"></script>
  <!-- waypoints js -->
  <script src="/wwwroot/vendors/count_up/jquery.waypoints.min.js"></script>
  <!-- waypoints js -->
  <script src="/wwwwroot/vendors/chartlist/Chart.min.js"></script>
  <!-- counterup js -->
  <script src="/wwwroot/vendors/count_up/jquery.counterup.min.js"></script>

  <!-- nice select -->
  <script src="/wwwroot/vendors/niceselect/js/jquery.nice-select.min.js"></script>
  <!-- owl carousel -->
  <script src="/wwwroot/vendors/owl_carousel/js/owl.carousel.min.js"></script>

  <!-- responsive table -->
  <script src="/wwwroot/vendors/datatable/js/jquery.dataTables.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/dataTables.responsive.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/dataTables.buttons.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/buttons.flash.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/jszip.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/pdfmake.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/vfs_fonts.js"></script>
  <script src="/wwwroot/vendors/datatable/js/buttons.html5.min.js"></script>
  <script src="/wwwroot/vendors/datatable/js/buttons.print.min.js"></script>

  <!-- CALENDER JS  -->
  <script src='/wwwroot/vendors/calender_js/core/main.js'></script>
  <script src='/wwwroot/vendors/calender_js/interaction/main.js'></script>
  <script src='/wwwroot/vendors/calender_js/daygrid/main.js'></script>
  <script src='/wwwroot/vendors/calender_js/timegrid/main.js'></script>
  <script src='/wwwroot/vendors/calender_js/list/main.js'></script>
  <script src='/wwwroot/vendors/calender_js/activation.js'></script>

  <script src="/wwwroot/js/chart.min.js"></script>
  <!-- progressbar js -->
  <script src="/wwwroot/vendors/progressbar/jquery.barfiller.js"></script>
  <!-- tag input -->
  <script src="/wwwroot/vendors/tagsinput/tagsinput.js"></script>
  <!-- text editor js -->
  <script src="/wwwroot/vendors/text_editor/summernote-bs4.js"></script>
  <script src="/wwwroot/vendors/am_chart/amcharts.js"></script>

  <!-- scrollabe  -->
  <script src="/wwwroot/vendors/scroll/perfect-scrollbar.min.js"></script>
  <script src="/wwwroot/vendors/scroll/scrollable-custom.js"></script>


  <script src="/wwwroot/vendors/chart_am/core.js"></script>
  <script src="/wwwroot/vendors/chart_am/charts.js"></script>
  <script src="/wwwroot/vendors/chart_am/animated.js"></script>
  <script src="/wwwroot/vendors/chart_am/kelly.js"></script>
  <script src="/wwwroot/vendors/chart_am/chart-custom.js"></script>
  <!-- custom js -->
  <script src="/wwwroot/js/custom.js"></script>

  <!-- Ajax Manager -->
  <script src="/wwwroot/js/ajaxManager.js"></script>
</body>

</html>